.border-b-1 {
    border-bottom: 1px solid rgb(237, 237, 237);
}

.item-card {
    overflow: hidden;
    border-radius: 12px;
}

.item-card .img-fluid {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img,
svg {
    vertical-align: middle;
}


.item-card .info {
    padding: 12px 15px;
}

.item-card .info .name {
    color: #000;
}

.item-card .info .price {
    font-size: 13px;
}

.item-card .info .price img {
    width: 12px;
    margin-right: 8px;
}


.card-scrollbar {
    position: relative;
    height: 450px;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 65vh !important;
}

.card-scroll-y {
    display: block;
}


.card-scrollbar::-webkit-scrollbar {
    width: 3px !important;

}


.card-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.card-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

.card-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.bg-glight {
    background-color: rgb(210, 210, 210);
}


.footer-total {
    border-top: 1px solid black;
    padding-top: 10px;
    margin-top: 5px;
}

.t-header {
    position: sticky;
    top: 0;
}


.resize-none {
    resize: none;
}


.bill-scrollbar {
    position: relative;
    height: 440px;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 62vh !important;
}


.bill-scroll-y {
    display: block;
}


.bill-scrollbar::-webkit-scrollbar {
    width: 3px !important;

}


.bill-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.bill-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

.bill-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
}
 

.btn-bv {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8b1cbb;
    --bs-btn-border-color: #8b1cbb;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8b1cbb;
    --bs-btn-hover-border-color: #8b1cbb;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8b1cbb;
    --bs-btn-active-border-color: #8b1cbb;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8b1cbb;
    --bs-btn-disabled-border-color: #8b1cbb;
}


.btn-gray {
    --bs-btn-color: #000;
    --bs-btn-bg: #d8d8d8;
    --bs-btn-border-color: #d8d8d8;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d8d8d8;
    --bs-btn-hover-border-color: #d8d8d8;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #d8d8d8;
    --bs-btn-active-border-color: #d8d8d8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #d8d8d8;
    --bs-btn-disabled-border-color: #d8d8d8;
}


.btn-completed {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2106ed;
    --bs-btn-border-color: #2106ed;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2106ed;
    --bs-btn-hover-border-color: #2106ed;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2106ed;
    --bs-btn-active-border-color: #2106ed;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2106ed;
    --bs-btn-disabled-border-color: #2106ed;
}


.box-height>[class*=col] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column
}

.box-height>[class*=col]>.card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.border-l {
    border-left: 1px solid #F1F1F1;
}

.border-t {
    border-top: 1px solid #F1F1F1;
}


.bg-s-pending {
    --bs-bg-opacity: 1;
    background-color: #FEF1D5 !important;
    color: #976f1a !important;
}

.bg-s-cooking {
    --bs-bg-opacity: 1;
    background-color: #d8e5f8 !important;
    color: #234b85 !important;
}

.bg-s-ready {
    --bs-bg-opacity: 1;
    background-color: #d2f1e8 !important;
    color: #117054 !important;
}

.bg-s-completed {
    --bs-bg-opacity: 1;
    background-color: #DDF485 !important;
    color: #4A6B1C !important;
}



.text-pending {
    color: #976f1a !important;
}

.text-cooking {
    color: #234b85 !important;
}

.text-ready {
    color: #117054 !important;
}

.invoice-box {
    max-width: 1600px;
    width: 100%;
    overflow: auto;
    margin: 15px auto;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    color: #555;
}

.login-bg {
    background-color: #232E3C;
    /*background-image: url(https://img.freepik.com/free-photo/luxury-restaurant-grill-bar-interior-with-chandeliers-furniture_114579-2341.jpg?w=740&t=st=1693390663~exp=1693391263~hmac=c11eaf3c308c06b5a8bd7202b745b2d775dc4d2b1d1808a3ec1687e8f0a55e0a);*/
    background-size: cover;
}

.chart-holder {
    height: 20vh !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-holder .apexcharts-legend {
    justify-content: start;
}

.mh-50 {
    min-height: 50px !important;
}

.mm-3 {
    margin-left: -3px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.tw-2 {
    width: 2% !important;
}


.tw-5 {
    width: 5% !important;
}

.tw-10 {
    width: 10% !important;
}

.tw-12 {
    width: 12% !important;
}


.tw-15 {
    width: 15% !important;
}

.tw-20 {
    width: 20% !important;
}

.tw-25 {
    width: 25% !important;
}

.tw-30 {
    width: 30% !important;
}

.tw-35 {
    width: 35% !important;
}

.tw-40 {
    width: 40% !important;
}

.tw-45 {
    width: 45% !important;
}

.tw-50 {
    width: 50% !important;
}

.tw-80 {
    width: 80% !important;
}

.md-none {
    display: none !important;
}

.view-table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.view-td1 {
    padding: 5px;
    vertical-align: top;
}

.view-table1 {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.view-td2 {
    padding: 5px;
    vertical-align: top;
    text-align: left;
    padding-bottom: 20px
}

.view-f1 {
    vertical-align: inherit;
    margin-bottom: 25px;
}

.view-f2 {
    vertical-align: inherit;
    font-size: 14px;
    color: #7367F0;
    font-weight: 600;
    line-height: 35px;
}
.view-f3{
    vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;
}

.view-f3 {
    vertical-align: inherit;font-size: 14px;color:#000;font-weight: 400;
}

.view-align1 {

    vertical-align: inherit;
}

.view-f4{
    padding:5px;vertical-align:top;text-align:left;padding-bottom:20px
}

.view-f5{
    vertical-align: inherit;margin-bottom:25px;

}

.view-f6{
    vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px; 
}

.view-f7{
    padding:5px;vertical-align:top;text-align:left;padding-bottom:20px
}

.view-f8{
    vertical-align: inherit;margin-bottom:25px;
}

.view-f9{
    padding:5px;vertical-align:top;text-align:right;padding-bottom:20px
}

.view-f10{
    vertical-align: inherit;margin-bottom:25px;
}

.view-f11{
    vertical-align: inherit;font-size:14px;color:#7367F0;font-weight:600;line-height: 35px;
}